<h1 clsss="text-danger">Workout Plan</h1>

<form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
  <div formArrayName="activities">
    <div
      *ngFor="let activity of activities().controls; let activityIndex = index"
    >
      <div [formGroupName]="activityIndex" style="border: 1px solid blue">
        <mat-form-field>
          <input
            matInput
            placeholder="Activity"
            formControlName="activityIdentifier"
          />
        </mat-form-field>
        <button
          mat-mini-fab
          [disabled]="activityIndex === 0"
          (click)="removeActivityType(activityIndex)"
          aria-label="add"
        >
          <mat-icon>delete</mat-icon>
        </button>

        <div formArrayName="subActivity">
          <div
            *ngFor="
              let item of subActivity(activityIndex).controls;
              let subActivityIndex = index
            "
          >
            <div [formGroupName]="subActivityIndex">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Sub Activity"
                  formControlName="name"
                />
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Sets" formControlName="sets" />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  placeholder="Repetition"
                  formControlName="repetition"
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  placeholder="Frequency"
                  formControlName="duration"
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  placeholder="Resting time"
                  formControlName="rest"
                />
              </mat-form-field>

              <!-- <mat-form-field>
                <mat-label>Routine</mat-label>
                <mat-select formControlName="schedule" multiple>
                  <mat-option *ngFor="let day of scheduleLIst" [value]="day">{{
                    day
                  }}</mat-option>
                </mat-select>
              </mat-form-field> -->

            <mat-form-field class="full-width">
              <mat-label>Schedule</mat-label>
              <mat-chip-list #chipList
              aria-label="Video keywords" multiple formControlName="schedule">
                <mat-chip
                    *ngFor="let schedule of scheduleLIst"
                    [value]="schedule"
                    #c="matChip"
                    (click)="toggleSelection(c, activityIndex, subActivityIndex)">
                  <mat-icon *ngIf="c.selected">check</mat-icon>
                  {{schedule}}
                </mat-chip>
              </mat-chip-list>
            </mat-form-field>

              <mat-form-field class="full-width">
                <textarea
                  matInput
                  formControlName="comment"
                  placeholder="comment"
                ></textarea>
              </mat-form-field>

              <button
                type="button"
                (click)="addsubActivity(activityIndex)"
                mat-mini-fab
                aria-label="add"
              >
                <mat-icon>add</mat-icon>
              </button>

              <button
                [disabled]="subActivityIndex === 0"
                (click)="removesubActivity(activityIndex, subActivityIndex)"
                mat-mini-fab
                color="primary"
                aria-label="Remove"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" (click)="addActivityType()">Add Activity</button>
    <button type="submit" [disabled]="!workoutForm.valid">Save Activity</button>
  </div>
</form>

{{ workoutForm.value | json }}
